* {
    box-sizing: border-box;
    font-family: 'Cormorant', serif;
}

header{
    background-color: black;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding:5px;
}

header > div > img {
    width:6%;
}

header > div > nav > ul>li{
    display: inline;
    flex-direction: row;
}

header> div > nav > ul > li> a{
    font-size: 1.2em;
    text-decoration: underline;
    color:white;
    padding: 10px;
}

#banner{
    background-image: url('../images/banner.jpg');
    background-size: cover; 
    background-position: center;
    height:25vh;
}

section,footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: black;
    justify-content: space-between;
    height: auto;
    width: 20%; 
    padding: 20px; 
}

h2{
    text-align: center;
    font-size:3em;
}

#summary{
    font-size:1.8em;
}

section > p, footer>p,#main-image,#other-images,#last-images {
    padding: 5px;
    width: 80%; 
}

section.work {
    display: flex;
    flex-direction: column;
}

#main-image> a{
    position: relative;
}

#main-image > a > img {
    width: 100%;
    object-fit: cover;
    border: 4px solid aquamarine;
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    overflow: hidden;
}

#image1 {
    background: url('../images/work/spooky-rolodex.png') no-repeat ;
    background-size: contain;
    border: 4px solid aquamarine;
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    overflow: hidden;
}

#image2 {
    background: url('../images/work/nasa-mission-control.png') no-repeat ;
    background-size: contain;
    border: 4px solid aquamarine;
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    overflow: hidden;
}

#last-images > #image3 {
    background: url('../images/work/statinja.png') no-repeat;
    background-size: contain;
    border: 4px solid aquamarine;
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    overflow: hidden;
}

#last-images > #image4 {
    background: url('../images/work/horiseon.png') no-repeat;
    background-size: contain;
    border: 4px solid aquamarine;
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    overflow: hidden;
}

#main-image> a> img:hover, #image1:hover, #image2:hover, #image3:hover, #image4:hover{
    transform: scale(1.1);
}

#other-images, #last-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    position:relative;
}

#other-images > a, #last-images > a{
    width: calc((100% - 10px) / 2);
    height: 25vh; 
    display: flex;
    align-items: flex-end;
    position: relative;
    background-position: center;
    background-size: cover;
}

.img-title, .other-img-title{
    background-color: aquamarine;
    position: absolute;
    bottom: 4px;  
    left: 4px;  
    color: black;
    font-size: 2.3vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0 10px; 
}

.images-container {
    display: flex;
    flex-direction: column;
    padding: 20px; 
    width: 80%; 
}
#gmail{
    width: 3vw;
}
.gmail{
    color:black;
    text-decoration: none;
}
#github{
    width:6vw;
}
#linkedin{
    width: 8vw;
}

footer>p{
    font-size: 2em;
    display: flex;
    padding-right:50px;
    justify-content: space-evenly;
  
}
footer>p>a{
    color:black;
    text-decoration: underline;

}
